*, *:before, *:after {
    box-sizing: inherit;
}

.default:before, .default:after {
    content: "";
    display: table;
    clear: both;
}

html {
    display: block;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    display: block;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #f1f1f1!important;
}


/*> Left Menu */
#left-menu {
    background-color: var(--dark-gray);
    display: block;
    position: fixed!important;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: 1;
    padding: 2em 3em;

    /* Style */
    color: #fff!important;
    animation: animateleft 0.2s;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
#left-menu .skills p:nth-child(even) {
    font-size: 12px;
}

@keyframes animateleft {
    0% {
        left: -300px;
    }

    100% {
        left: 0;
    }
}

#left-menu .first {
}

#left-menu .first img {
    width: 35%;
    vertical-align: middle;
    margin: 10px auto;
    
    border-style: none;
    border-radius: 40%;
    mask-image: linear-gradient(black, transparent);
}

#left-menu .first img:hover {
    mask-image: none;
}

#left-menu .second {

}

#left-menu .info p {
    font-size: 12px!important;
    margin-bottom: .1px!important;
}

#left-menu .info p i {
    font-size: 12px!important;
    margin-bottom: .1px!important;
}

#left-menu .skills > * {
    margin-bottom: 1px;
}

.bar {
    color: #000!important;
    background-color: #f1f1f1!important;
    border-radius: 16px;
    font-size: .8em;
    text-align: center;
    box-shadow: 0 4px 2px rgb(0 0 0 / 20%) inset, 
                0px 2px 0 rgb(0 0 0 / 19%) inset;
}

.bar .teal {
    color: #fff!important;
    background-color: #009688!important;
    border-radius: 16px;
    box-shadow: -1px -1px 2px 0 rgba(117, 116, 116, 0.787) inset, 
                -1px 2px 3px 0 rgba(195, 195, 195, 0.812) inset,
                1px -1px 2px 0 rgba(122, 120, 120, 0.422);
}

.teal-icon {
    color: #03f4dc!important;
}

/** Contact */
#left-menu .contact {
    margin-top: 50px;
    padding: 0.01em 16px;

    text-align: center!important;
}


/*DO: Page Content */
.main {
    display: block;
    padding: 24px!important;
    margin-left: 40%;
    background-color: #f1f1f1!important;
}

/*> Navbar Button */
.nav-btn {
    /* Position */
    border: none;
    display: inline-block;
    width: auto;
    position: fixed;
    top: 0;
    right: 0;
    vertical-align: middle;
    overflow: hidden;
    padding: 8px 16px;
    white-space: nowrap;
    z-index: 1;

    /* Style */
    border: none;
    color: var(--gray);
    font-size: 36px!important;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.nav-btn span {
    /* Position */
    display: inline-block;
    position: relative;

    /* Style */
    cursor: pointer;
    transition: 0.31s;
}

.nav-btn:hover span {
    padding-right: 100px;
}

.nav-btn span:after {
    /* Poisition */
    content: '\00bb';
    content: 'Menu';
    position: absolute;
    top: 0;
    right: -50px;
    opacity: 0;
    transition: 0.8s;
}

.nav-btn:hover span:after {
    right: 0;
    opacity: 1;
}



/*> Header */
header {
    /* Position */
    display: block;
    padding: 128px 16px;

    /* Style */
    text-align: center!important;
    font-size: 15px;
    line-height: 1.5;
}

header h1 {
    /* Position */
    display: block;
    margin: 10px 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    /* Style */
    font-size: var(--jumbo);
    font-weight: 400;
    line-height: 1.5;
    text-align: center!important;
}

header h1 b {
    font-weight: bolder;
    font-size: var(--jumbo);
}


/*> About Section */
#about-sec {
    /* Position */
    display: block;
    padding: 32px 0!important;
    max-width: 980px;
    margin: 0 auto;

    /* Style */
    color: var(--gray);
    text-align: justify!important;
    font-size: 15px;
    line-height: 1.5;
}

/*> Portfolio Section */
#portfolio .row {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 8px;
    /* margin:0 -16px */
}

#portfolio .row .column {
    /* float: left; */
    /* padding: 0 8px; */
    margin-bottom: 16px!important;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

#portfolio .row .column.second {
    margin-right: 1em;
    margin-left: 1em;
}

#portfolio .row .column img {
    width: 100%;
    padding: 0!important;
    margin: 0!important;
    vertical-align: middle;
    border-style: none;
}

#portfolio .row .column .text {
    color: #000!important;
    background-color: #fff!important;
    padding: 0.05em 16px;
}


@media (min-width: 601px) {
    #portfolio .row .column {
        width: 33.33333%;
    }

}
